{% extends 'base.html' %}

{% block title %}
بلاگ
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
<style>
  form.search-form {
    margin-bottom: 1rem;
  }

  .pagination {
    margin-top: 1rem;
  }
</style>
{% endblock styles %}

{% block content %}
<h1>پست‌های بلاگ</h1>

<form method="get" action="" class="search-form">
  <input type="text" name="query" placeholder="جستجو..." value="{{ request.GET.query }}">
  <button type="submit">جستجو</button>
</form>

<ul>
  {% for post in posts %}
  <li>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    <p>{{ post.description|striptags|truncatewords:20 }}</p>
  </li>
  {% empty %}
  <p>پستی یافت نشد</p>
  <a href="{% url 'home-page' %}">بازگشت به صفحه اصلی</a>
  {% endfor %}
</ul>

<!-- Pagination -->
{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a
    href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">قبلی</a>
  {% endif %}

  <span>صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
  <a
    href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">بعدی</a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}