{% extends 'base.html' %}

{% block content %}
<h2>محور ها</h2>
{% for item in mainpoints_with_posts %}
<h3>{{ item.mainpoint }}</h3>
{% if item.posts %}
{% for post in item.posts %}
<div>
  <h4>{{ post.title }}</h4>
  {% if post.short_description %}
  <p>{{ post.short_description }}</p>
  {% endif %}
</div>
{% endfor %}
{% else %}
<p>خبری برای محور {{ item.mainpoint }} پیدا نشد</p>
{% endif %}
{% empty %}
<p>محوری یافت نشد</p>
{% endfor %}

<h2>کاربران</h2>
{% for user in user_page_obj %}
<div>
  <p>{{ user.username }} - {{ user }}</p>
</div>
{% empty %}
<p>کاربری پیدا نشد</p>
{% endfor %}

{% if user_page_obj.has_other_pages %}
<div>
  {% if user_page_obj.has_previous %}
  <a href="?query={{ query }}&user_page={{ user_page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  Page {{ user_page_obj.number }} of {{ user_page_obj.paginator.num_pages }}
  {% if user_page_obj.has_next %}
  <a href="?query={{ query }}&user_page={{ user_page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}