{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon_io/android-chrome-192x192.png' %}">
    {% block meta %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    {% endblock meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if user.is_authenticated %}جشنواره خوارزمی{% else %} فرهنگسرای نو اندیشان {% endif %}| {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}
    <style>

    </style>
    {% endblock styles %}

</head>

<body>
    <header>{% include 'header.html' %}</header>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>{% include 'footer.html' %}</footer>
</body>

</html>